@import url("https://fonts.googleapis.com/css?family=Jockey+One");
@import url("https://fonts.googleapis.com/css?family=Jockey+One|Nanum+Gothic");
$header-font: "Jockey One", sans-serif;
$header-size: 25px;
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  line-height: 1.4;
}
#navbar {
  max-width: 350px;
  height: 100%;
  position: fixed;
  float: left;
  text-align: center;
  border-right: 2px solid black;
  font-family: $header-font;
  header {
    height: 60px;
    padding: 5px 0px;
    font-size: 35px;
    color: white;
    background-color: black;
    text-shadow: 2px -2px 0px rgba(0, 100, 255, 0.7);
  }
  .wrap {
    height: 91%;
    overflow-y: scroll;
  }
  .nav-link {
    display: block;
    height: 55px;
    text-decoration: none;
    font-size: $header-size;
    padding: 6px;
    color: black;
    background-color: rgba(0, 100, 200, 0.7);
    border: 1px solid black;
    transition: 0.3s;
    overflow: hidden;
  }
  .nav-link:hover {
    background-color: white;
    border-radius: 5px;
    border: 2px outset rgba(0, 50, 100, 0.9);
  }
}
main {
  position: absolute;
  left: 300px;
  height: auto;
  padding: 30px 50px;
  section {
    padding: 5px;
    header {
      font-family: $header-font;
      font-size: $header-size;
      margin: 5px 0px;
    }
    p {
      font-family: "Nanum Gothic", sans-serif;
      margin-top: 15px;
      margin-bottom: 5px;
      text-align: justify;
    }
    ul {
      padding-left: 40px;
    }
    div {
      width: 60%;
      padding: 10px;
      border-radius: 5px;
      color: white;
      background-color: rgba(0, 0, 0, 0.8);
      code {
        font-size: 14px;
        margin: 5px 0px;
      }
    }
  }
}

@media only screen and(max-width:700px) {
  #navbar {
    position: relative;
    max-width: 100%;
    max-height: 300px;
    float: none;
    border: 2px solid black;
  }
  .wrap {
    max-height: 200px;
  }
  main {
    left: 0;
  }
}
@media only screen and(max-width:360px) {
  #navbar {
    max-width: 300px;
    header {
      height: 40px;
      font-size: 25px;
    }
    .wrap {
      height: 150px;
    }
    .nav-link {
      height: 30px;
      font-size: 15px;
    }
  }
  main {
    padding: 5px;
    max-width: 300px;
    section {
      header {
        font-size: 23px;
      }
      p {
        font-size: 14px;
      }
      div {
        width:100%;
      }
    }
  }
}
